@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  color: #fff;
}

* {
  box-sizing: border-box;
}
